.about-us__body {
	padding: 0 60px;

	.article-item {
		margin-bottom: 60px;
	}

	.InfoItem-switchBorders {
		margin-top: 70px;
	}

	.InfoItem {
		margin-top: 70px;
	}
}

.home-page-body__paragraph {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.25px;
}
