.MapChart-worldMap {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	margin: 80px 0;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 0.6px 0 rgba(0, 0, 0, 0.4);

	.svg-map {
		width: 90%;
		stroke: #cccccc;
		transform: scale(1.25);

		.svg-map__location {
			fill: rgb(204, 204, 204);
		}

		#ug {
			fill: rgb(128, 121, 239);
		}

		#in {
			fill: rgb(144, 83, 137);
		}

		#cn {
			fill: rgb(198, 206, 91);
		}

		#tz {
			fill: rgb(209, 53, 39);
		}

		#ke {
			fill: rgb(0, 149, 159);
		}

		#ae {
			fill: rgb(0, 139, 200);
		}

		#za {
			fill: rgb(242, 200, 1);
		}
	}

	.MapChart-locationList {
		position: absolute;
		top: 0;
		left: 0;
		padding: 10px 30px;
		background-color: rgba(0, 0, 0, 0.8);

		.pulse {
			margin-right: 16px;
		}

		.MapChart-location {
			display: flex;
			align-items: center;
			padding: 8px 0;
			color: white;
			font-family: Aeonik-Regular, sans-serif;
		}
	}
}
